# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
.env/

# Test cache
.pytest_cache/

# Execution results
results/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
